@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* { box-sizing: border-box;}



:root {
    --calculator-width: 300px;
    --calculator-height: 570px;
    --two-thirds-height: calc(var(--calculator-height) * (2/3)); 
    --display-height: calc(var(--calculator-height)/3);
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(80, 80, 80);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    gap: 16px;
}

.calculator {
    border: solid black 4px;
    display: flex;
    width: var(--calculator-width);
    height: var(--calculator-height);
    flex-direction: column;
    border-radius: 30px;
    background-color: rgb(28, 28, 28);
    color: white;
}

.display {
    width: 100%;
    height: var(--display-height);
    display: flex;
    flex-direction: column;
}


.pad {
    display: flex;
    flex-direction: column;
    height: var(--two-thirds-height);
    width: 100%;
    padding: 8px;
    flex-grow: 1;
    gap: 12px;
}

.center {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.bottom {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#zero {
    flex-grow: 4;
    border-radius: 30px;
    text-align: start;
}

.button {
    display: inline-block;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    padding: 1.2rem;
    border-radius: 50%;
    flex: 1 1 0;
    cursor: pointer;
}

.dark-grey-controls {
    background-color: rgb(80, 80, 80);
    color: white;
}

.light-grey-controls {    
    background-color: rgb(212, 212, 210);
    color: rgb(28, 28, 28);
}

.yellow-controls {
    background-color: rgb(255, 149, 0);
    color: white;
}

.dark-grey-controls:hover {
    background-color: rgba(80, 80, 80, 0.9);
}

.light-grey-controls:hover {
    background-color: rgba(212, 212, 210, 0.9);
}

.yellow-controls:hover {
    background-color: rgba(255, 149, 0, 0.9);
}


.calculations {
    height: var(--two-thirds-height);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    padding-top: 12px;
    font-size: 1.8rem;
    white-space: initial;
}

.calculation-field {
    width: 100%;
    height: 74px;
    font-size: 3rem;
    padding: 8px;
}


.calculation-field,
.calculations {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;  
}

.operations {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    text-align: end;
}
