@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to bottom,
        #70c25c 0%, #70c25c 30%,
        #ffc04a 30%, #ffc04a 42.5%,
        #fc903d 42.5%, #fc903d 55%,
        #e94752 55%, #e94752 67.5%,
        #a954a5 67.5%, #a954a5 80%,
        #00afe0 80%, #00afe0 100%);
}
  
.iphone-screen {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    border-radius: 51.33333333333333px;
    border: solid black;
    padding: 40px 16px 35px;
    grid-gap: 8px;
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2.2rem;
    outline: none;
    border: none;
    border-radius: 50%;
}

.span-2 {
    grid-column: span 2;
    border-radius: 70px !important;
}

.output {
    grid-column: 1 / -1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.dark-grey {
    background-color: rgb(80, 80, 80);
    color: white;
}

.yellow {
    background-color: rgb(255, 149, 0);
    color: white;
}

.light-grey {
    background-color: rgb(212, 212, 210);
    color: rgb(28, 28, 28);
}

.current-operation {
    font-size: 5.3rem;
}

.previous-operation {
    font-size: 2.7rem;
    color: rgba(255, 255, 255, .85);
}

